---
layout: default
---

{% include heading.html heading=page.title description=page.description align="center" date=page.date %}

<!-- {% if page.authors %}
  <div class="flex flex-col pb-3 md:hidden">
    {% for author in page.authors %}
      {% include author-large.html
        author=author
      %}
    {% endfor %}
  </div>
{% endif %} -->

<img class="head-image" src="{{ page.image }}"/>

<div class="flex flex-col md:flex-row py-6 md:py-12">

  <div class="w-full md:w-3/12">
    <!-- {% if page.authors %}
      <div class="flex flex-col hidden md:flex mb-3 md:mb-6">
        {% for author in page.authors %}
          {% include author-large.html
        author=author
        %}
        {% endfor %}
      </div>
    {% endif %} -->

    <!-- {% if page.categories %}
      <div class="hidden md:block">
        {% for category in page.categories %}
          {% include category-badge.html %}
        {% endfor %}
      </div>
    {% endif %}
  </div> -->

</div>

<div class="flex-none md:w-6/12">
  <div class="prose">
    {{ content }}
  </div>

  {% if page.categories %}
  <div class="py-6 mt-6 border-t-2 block md:hidden">
    <h3 class="text-sm font-medium mb-1">Categories</h3>
    <div>
      {% for category in page.categories %}
        {% include category-badge.html %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
<div class="w-full md:w-3/12"></div>
</div>